<div>
    <div id="background">
        <div class="clock-wrap" fxLayout="row" fxFlexFill>
            <div class="clock-container" fxLayout="colmun" fxFlexFill fxLayoutAlign="space-around center">
                <div class="clock-content">
                    <div class="date">
                        {{today | date: 'yyyy.MM.dd'}}
                    </div>
                    <div class="time">
                        {{today | date: 'hh:mm:ss a'}}
                        <a [routerLink]="['/main']">main</a>
                        <a [routerLink]="['/menu/three-d-design/screens/screen-test']">test</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>