<div>
    <div id="background">
        <div class="main-wrap" fxLayout="row">
            <div class="main-container" [ngClass]="{'is-flipped' : isflipped}" fxLayout="colmun" fxLayoutAlign="space-around center"
                (mouseover)="flip($event,'Y')" (mouseout)="flip($event,'N')">
                <div class="main-content card-face">
                    <div class="date">
                        {{today | date: 'yyyy.MM.dd'}}
                    </div>
                    <div class="time">
                        {{today | date: 'hh:mm:ss a'}}
                    </div>
                </div>
                <div class="nav-content card-face">
                    <div fxLayout="row wrap" class="nav-items">
                        <div *ngFor="let menu of menus">
                            <div [routerLink]="[menu.link]">{{menu.name}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>